/* PHASE 5: Cats */
.content-header {
  height: 200px;
  width: 900px;
  display: flex;
  background-image: url("http://appacademy.github.io/css-friends/shared/img/cats.jpg");
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
}

.content-header h1 {
  color: white;
  font-size: 30px;
  position: relative;
  bottom: 10px;
  /* align-items: baseline; */
}

.content-header h1, button {
  position: relative;
  bottom: 10px;
}

.content-header-add-friend {
  background-color: #ccc;
  border-radius: 5px;
  border: 1px solid black;
}
